:root {
	--font1: 'Arial', sans-serif;
	--font2: 'Times New Roman', serif;
	--font3: 'Lucida Console', 'Courier New', monospace;
	--text-color: #000000;
	--purple: rgb(179, 0, 255);
	--grey: #909090cc;
	--red: red;
	color: var(--text-color);
	font-size: 16px;
	font-family: var(--font1);
}

html {
	margin: 0;
	padding: 0;
}

body {
	width: 600px;
	margin: 1rem;
	padding: 0;
}

.add-button {
	text-decoration: none;
	color: var(--red);
	border: 1px solid var(--red);
	position: fixed;
	left: calc(600px + 3rem);
	bottom: 1rem;
	padding: 2rem;
}

.add-button:hover {
	box-shadow: 0 0 12px 0 var(--red) inset;
}

.blog--item {
	padding: 1rem 0;
	border-bottom: 1px solid var(--text-color);
	width: 100%;
}

.blog--item h3 {
	font-size: 3rem;
	line-height: 1.8ch;
  font-weight: normal;
  font-family: cursive;
  text-shadow: 0 0 8px var(--purple);
  margin: 1rem 0;
}

.blog--item span {
	display: flex;
	flex-direction: row;
  font-size: 12px;

  font-family: var(--font3);
}

.blog--item span p {
  margin: 0;
   padding: 0 0.5rem;
}

.blog--item span p:not(p:first-of-type) {
  border-left: 1px solid var(--grey);
}
