:root {
	--font1: 'Arial', sans-serif;
	--font2: 'Times New Roman', serif;
	--font3: 'Lucida Console', 'Courier New', monospace;
	--text-color: #000000;
	--purple: rgb(179, 0, 255);
	--grey: #909090cc;
	--red: rgb(255, 140, 0);
	color: var(--text-color);
	font-size: 16px;
	font-family: var(--font1);
}

html {
	margin: 0;
	padding: 0;
}

body {
	width: 600px;
	margin: 1rem;
	padding: 0;
}

header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	font-size: 1rem;
}

header h5[data-filter-type='undefined'] {
	display: none;
}

.add-button {
	text-decoration: none;
	color: var(--red);
	font-weight: bold;
	padding: 1rem;
}

.add-button::before {
	content: '...';
	margin-right: 0;
}

.blog--item {
	padding: 1rem 0;
	border-bottom: 1px solid var(--text-color);
	width: 100%;
}

.blog--item h3 {
	font-size: 3rem;
	line-height: 1.8ch;
	font-weight: normal;
	font-family: cursive;
	text-shadow: 0 0 8px var(--purple);
	margin: 1rem 0;
}

.blog--item span {
	display: flex;
	flex-direction: row;
	font-size: 12px;

	font-family: var(--font3);
}

.blog--item span p {
	margin: 0;
	padding: 0 0.5rem;
}

.blog--item span p:not(p:first-of-type) {
	border-left: 1px solid var(--grey);
}

section {
	display: flex;
	flex-direction: column-reverse;
}

img {
  width: 100%;
}

img[src="imgs/"] {
	display: none;
}

@media (max-width: 640px) {
	body {
		width: calc(100% - 2rem);
		margin: 1rem;
		padding: 0;
	}

	.add-button {
		top: 1rem;
		right: 1rem;
		left: revert;
		bottom: revert;
		background: rgba(255, 255, 255, 0.5);
		padding: 0.75rem 2rem;
	}
}
